{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-quotes": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "jsx-quotes": [2, "prefer-double"],
    "new-cap": [2, {"newIsCapExceptions": ["loki"]}],
    "react/prefer-stateless-function": "off",
    "arrow-body-style": "off",
    "strict": "off",
    "no-script-url": "off",
    "guard-for-in": "off",
    "react/forbid-prop-types": "off"
  },
  "globals": {
    "window": true,
    "document": true,
    "describe": true,
    "it": true,
    "before": true,
  }
}
