.container1 {
	margin-top: 20px;
 	float:left;
 	width:20%;
}
.container2{
	margin-top: 20px;
	float:right;
 	width:80%;
}
.select{
	 color: #005BA6;
  display: block;
  border-radius: 0;
  box-shadow: none;
  font-size: 16px;
  // padding: 11px 15px;
  margin-top: 9px;
  margin-bottom: 15px;
  width: 50%;
  text-align:center;
}